/*  your css code here. If applicable */
h1{
	padding:0px;
	border-width:20px;
	background-color:#f5f5f5;
	text-style:normal;
}
#author{
	text-align:right;
	font-style:italic;
	color:black;
}
#MainContainer{
	padding:0px;
	background-color:white;
}